.ytp-remote-button,
.ytp-size-button,
.ytp-miniplayer-button,
.ytp-subtitles-button,
.ytp-button[title="チャットを非表示にする"],
.ytp-button[data-tooltip-target-id="ytp-autonav-toggle-button"],
.ytp-next-button,
ytd-thumbnail-overlay-toggle-button-renderer,
ytd-guide-collapsible-section-entry-renderer,
ytd-menu-service-item-renderer:nth-child(1),
ytd-menu-service-item-renderer:nth-child(2),
ytd-menu-service-item-renderer:nth-child(3),
ytd-menu-service-item-renderer:nth-child(4),
ytd-guide-entry-renderer:nth-child(2),
ytd-guide-section-renderer:nth-child(3),
ytd-guide-section-renderer:nth-child(4),
#footer,
ytd-item-section-renderer ytd-playlist-renderer,
ytd-reel-shelf-renderer{
    display:none !important;
}
